/* Clear Fix */
/* line 2, ../scss/lib.scss */
.cfg-clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

/* Generic Reset */
/* line 11, ../scss/lib.scss */
.cfg-reset { margin: 0; padding: 0; }

/* List Reset */
/* line 16, ../scss/lib.scss */
#cfg-wrapper .cfg-list-reset { list-style: none; margin: 0; padding: 0; }
/* line 20, ../scss/lib.scss */
#cfg-wrapper .cfg-list-reset li { list-style: none; margin: 0; padding: 0; }

/* Floated List */
/* line 26, ../scss/lib.scss */
.cfg-floated-list li { display: block; float: left; }
/* line 29, ../scss/lib.scss */
.cfg-floated-list li a { display: block; float: left; }

/* Remove Margin/Padding */
/* line 35, ../scss/lib.scss */
#cfg-wrapper .cfg-no-margin { margin: 0; }
/* line 37, ../scss/lib.scss */
#cfg-wrapper .cfg-no-padding { padding: 0; }
/* line 39, ../scss/lib.scss */
#cfg-wrapper .cfg-no-bg { background: none; }
/* line 41, ../scss/lib.scss */
#cfg-wrapper .cfg-no-border { border: 0; }
